* {
	margin: 0;padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
	outline: none;
	letter-spacing: 1px;
}
::-moz-selection {
	background: #7159c190;
}
::selection {
	background: #7159c190;
}
::-webkit-scrollbar {
	background-color: #888;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 4px;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: -webkit-linear-gradient(to right bottom, #111 -5%, #7159c1 40%, #222 90%);
	background: -moz-linear-gradient(to right bottom, #111 -5%, #7159c1 40%, #222 90%);
	background: linear-gradient(to right bottom, #111 -5%, #7159c1 40%, #222 90%);
	font-family: 'Orbitron', sans-serif;
	color: #FFF;
}

h1 {
	color: #eee;
}
a {
	text-decoration: none;
}

.container {
	width: 100%;height: 100%;
	padding: 5px;
}
#main {
	width: 100%;
	height: 90%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*calculadora*/
.calculator, .result, .buttons, .btn, span, .rel {
	border: 2px solid #7159c144;
	border-radius: 30px;
}
.result, .bod {
	background: #7159c140;
}
.result, .btn {
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	box-shadow: 0px 0px 6px #555;
	font-family: 'Orbitron', sans-serif;;
}

.calculator-container, .box {
	width: 95%;
	height: 100%;
	max-width: 300px;
	max-height: 460px;
	position: relative;
	border-radius: 30px;
}
.calculator-container {
	overflow: hidden;
	background-color: transparent;
	box-shadow: 0px 0px 20px #000;
}
.calculator-container:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}
.calculator {
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	padding: 5px 8px;
	background: #7159c160;
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	box-shadow: inset 0px 0px 10px 1px #7159c188;
}
.zoom {
	border-radius: 30px;
	position: absolute;
	width: 100%;
	max-width: 300px;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.calculator-container:hover .zoom{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}
.rel {
	display: flex;
	padding: 0px 5px;
	justify-content: space-between;
	align-items: center;
	background: #7159c140;
	margin-bottom: 5px;
	text-indent: 5px;
	color: #FFF;
}
.rel strong {
	letter-spacing: 1px;
}
.rel button {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}
.rel button:hover {
	-webkit-filter: brightness(60%);
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
}
.result {
	width: 100%;
	height: 50px;
	text-align: right;
	padding: 10px 15px;
	margin: 5px 0px;
}
.buttons {
	margin-top: 5px;
	width: 100%;
	padding: 0px 5px;
	display: flex;
	flex-direction: row;
	position: relative;
}
.col {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	width: 100%;
}
.btn {
	max-width: 60px;
	width: 100%;
	height: 60px;
	margin: 5px;
	border-radius: 15px;
	background: #7159c177;
	cursor: pointer;
	text-shadow: 0px 0px 20px #000;
}
.sum {
	height: 130px;
	background: #7159c190;
}
.focus {
	background: #7159c110;
	color: #FFF;
	-moz-animation: fc .3s;
	-webkit-animation: fc .3s;
	animation: fc .3s;
}
.btn:hover {
	background: #7159c1;
	color: #ccc;
	box-shadow: 0px 0px 10px #666;
}
.btn:active {
	background-color: #92f7d8;
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}
.date {
	float: right;
	font-size: 8px;
	border: none;
	background: none;
	padding: 0px 4px
}

footer {
	height: 10%;
	text-align: center;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}
footer a {
	color: #7159c1;
	font-weight: bold;
	text-shadow: 0px 0px 2px #000;
}

@media (max-width: 340px) {
	body {
		overflow: auto;
	}
	.container {
		width: 300px;
	}
	.box {
		width: 300px;
	}
}
